<div class="product-card-box">
  <div class="product-card">
    <a class="link-box" [routerLink]="['/product', product.id]">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="{{ product.title }}" />
      </div>
    </a>
      
    <div class="product-info-box">
      <div class="product-name two-lines-ellipsis">
        {{ product.title | uppercase }}
      </div>
      <div class="flex-row">
        <div class="product-price">
          <div>{{ selectedPrice | currency : "EUR" }}</div>
          <select class="product-size" (change)="onSizeSelected($event)" *ngIf="product.size && product.size.length > 1">
            <option *ngFor="let size of product.size" value="{{ size }}">{{ size }}</option>
          </select>
        </div>
        <button
          class="add-to-cart"
          [ngClass]="{ 'cart-validation': validationState }"
          (click)="onAddToCart()"
        >
          <img [src]="imageUrl" alt="add to cart" />
        </button>
      </div>
    </div>
  </div>
</div>
