<div class="container">
  <div class="sub-container">
    <h1 class="title">SORT BY</h1>
    <div class="select-container">
      <select class="select input">
        <option selected>Name</option>
        <option>Price</option>
        <option>Date</option>
        <option>Type</option>
      </select>
      <div class="direction">
        <button class="toggle-button left active">Ascendant</button>
        <button class="toggle-button right">Descendant</button>
      </div>
    </div>

    <h1 class="title">FILTER BY</h1>
    <div class="checkbox-container">
      <label class="checkbox-label">
        <input type="checkbox" class="checkbox-input" />
        Type
      </label>
      <label class="checkbox-label">
        <input type="checkbox" class="checkbox-input" />
        Favorite
      </label>
      <label class="checkbox-label">
        <input type="checkbox" class="checkbox-input" />
        Size
      </label>
    </div>

    <h1 class="title">PRICE</h1>
    <div class="price-container">
      <input type="text" placeholder="Min" class="price-input input" />
      <span class="dash">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
      <input type="text" placeholder="Max" class="price-input input" />
    </div>
  </div>
</div>
