<div class="product-detail" *ngIf="product">
  <div class="container">
    <div class="product-image">
      <img [src]="product.imageUrl" alt="{{ product.title }}" />
    </div>

    <div class="product-content">
      <div class="product-info">
        <div class="product-title">{{ product.title }}</div>
        <p>{{ product.description }}</p>
        <p>Publication Date: {{ product.publicationDate | date }}</p>
        <div
          class="product-size"
          *ngIf="product.size && product.size.length > 1"
        >
          Multiple sizes available :
          <select (change)="onSizeSelected($event)" *ngIf="product.size">
            <option *ngFor="let size of product.size" value="{{ size }}">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <div class="foot">
        <div class="product-price">{{ selectedPrice | currency : "EUR" }}</div>
        <button class="favorite" (click)="onAddToFavorites()">
          Add to favorites
        </button>
        <button class="cart">
          Add to cart<img src="../../assets/svg/shopping-cart-plus.svg" />
        </button>
      </div>
    </div>
  </div>
</div>
