.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  .content-container {
    background-image: url('../assets/svg/puzzle-mosaic.svg'), url('../assets/svg/bg-clouds.svg'), url('../assets/svg/bg-flower.svg');
    background-position: center center, calc(100% - 38px) 0, 0 100%;
    background-repeat: repeat, no-repeat, no-repeat;
    margin-top: 78px;
    overflow-y: auto;
  }
}