@import "./app/app.palette.scss";

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: "Baloo 2", cursive;
  color: $primary-text;
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: $primary-pink white;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  margin: 4px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $primary-pink;
  border: solid 3px white;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
