<div class="product-detail" *ngIf="product">
  <div class="container">
    <div class="product-image">
      <img [src]="product.imageUrl" alt="{{ product.title }}" />
    </div>

    <div class="product-content">
      <div class="product-info">
        <div class="product-title">{{ product.title }}</div>
        <p>{{ product.description }}</p>
        <p>Publication Date: {{ product.publicationDate | date }}</p>
      </div>

      <div class="foot">
        <div class="selectors">
          <div class="size-box">
            <div *ngIf="product.size && product.size.length > 1">Size</div>
            <select class="select input" (change)="onSizeSelected($event)" *ngIf="product.size && product.size.length > 1">
              <option *ngFor="let size of product.size" value="{{ size }}">{{ size }}</option>
            </select>
          </div>
          <div class="quantity-box">
            <div>Quantity</div>
            <input type="number" [(ngModel)]="selectedQuantity" min="1"/>
          </div>
        </div>
        <div class="end-box">
          <div class="product-price">
            {{ selectedPrice | currency : "EUR" }}
          </div>
          <div class="buttons">
            <button class="favorite" (click)="onAddToFavorites()">
              Add to favorites
            </button>
            <button
              class="cart"
              [ngClass]="{ 'cart-validation': validationState }"
              (click)="onAddToCart()"
            >
              Add to cart<img [src]="imageUrl" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
